<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <!-- namespace의 이름은 본인이 설정하면 된다. -->
<mapper namespace="com.example.members.membersDao"> 

<!-- 회원가입 -->
<insert id="SignUp">
 insert into members(email,password)
    values( #{email}, #{password})
</insert>

</mapper>
