@charset "utf-8";

.Main {

  /*  글자 중앙정렬 */
  text-align: center;
  
  /*  크기 */
  width: 500px;
  
  /* Box */
  border:1px solid black; 
       
  /* Box 크기 */
  width: 700px; height:300px;
	
   }

#write {
	/* 버튼을 오른쪽에 배치한다 */
	right: 0;
    /* 글작성 버튼 마우스 */
     cursor: pointer;
     
}

thead th{
	
	/*  높이 */
	height:30px;
	/*  th아래 줄 */
	border-bottom:1px solid black;

}

#Calendar{
	
	/* 넓이 */
	width : 500 px; 
	cellpadding : 2; 
	cellspacing : 0;
	border : 1;
	/*  글자 중앙정렬 */
   text-align: center;
	
}
    	
}