<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.tradeGoods.tradeGoodsDao">

	<!-- 입고 처리 -->
	<insert id="input"
		parameterType="com.example.domain.tradeGoodsDomain">
		insert into
		tradeGoods(goodsNo, classification, amount,totalprice, cusName)
		values(#{goodsNo}, #{classification}, #{amount}, #{totalprice},#{cusName})
	</insert>


	<!-- 출고 처리 -->
	<insert id="output"
		parameterType="com.example.domain.tradeGoodsDomain">
		insert into
		tradeGoods(goodsNo, classification, amount,
		totalprice, cusName)
		values(#{goodsNo}, #{classification}, #{amount},
		#{totalprice}, #{cusName})
	</insert>


	<!-- 입고했던 물품 반품 처리 -->
	<insert id="backIn"
		parameterType="com.example.domain.tradeGoodsDomain">
		insert into
		tradeGoods(goodsNo, classification, amount,
		totalprice, cusName)
		values(#{goodsNo}, #{classification}, #{amount},
		#{totalprice}, #{cusName})
	</insert>


	<!-- 출고했던 물품 반품 처리 -->
	<insert id="backOut"
		parameterType="com.example.domain.tradeGoodsDomain">
		insert into
		tradeGoods(goodsNo, classification, amount,
		totalprice, cusName)
		values(#{goodsNo},
		#{classification}, #{amount},
		#{totalprice}, #{cusName})
	</insert>


	<!-- 내역 삭제 -->
	<delete id="delete">
		delete from
		tradeGoods
		where
		dealNumber=#{dealNumber}
	</delete>
	
	<!-- 검색창  -->
	<select id="" resultType="com.example.domain.tradeGoodsDomain">
		select 
		goodsNo, classification, amount, totalprice, cusName 
		from
		tradeGoods
		where
		goodsNo=#{goodsNo} 
	</select>
</mapper>