<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.tradeGoods.tradeGoodsDao">


	<!-- 물류 리스트 -->		<!-- join -->
	<!-- <select id="tradelist" resultType="com.example.domain.tradeGoodsDomain"> 
		select 
		dealNumber, 
		classification, 
		goods.goodsNo, 
		goodsName, 
		size, 
		goodsPrice, 
		amount, 
		totalprice, 
		goodsColor,
		brandName, 
		manufacturer, 
		date 
		from goods 
		left join tradeGoods on goods.goodsNo=tradeGoods.goodsNo; </select> -->
		
		<!-- tg.dealNumber as dealNumber, 
		tg.classification as classification, 
		g.goodsNo as goodsNo, 
		g.goodsName as goodsName, 
		g.size as size, 
		g.goodsPrice as goodsPrice, 
		tg.amount as amount, 
		tg.totalprice as totalprice, 
		g.goodsColor as goodsColor,
		g.brandName as brandName, 
		g.manufacturer as manufacturer, 
		tg.date as date -->

	<resultMap type="com.example.domain.GoodsDomain" id="GoodsDomain">
		<id column="goodsNo" property="goodsNo" />
		<result column="goodsName" property="goodsName" />
		<result column="goodsPrice" property="goodsPrice" />
		<result column="goodsColor" property="goodsColor" />
		<result column="brandName" property="brandName" />
		<result column="size" property="size" />
		<result column="manufacturer" property="manufacturer" />
		<result column="totalAmount" property="totalAmount" />
	</resultMap>

	<resultMap type="com.example.domain.tradeGoodsDomain" id="tradeGoodsDomain">
		<id column="dealNumber" property="dealNumber" />
		<id column="goodsNo" property="goodsNo" />
		<result column="classification" property="classification" />
		<result column="amount" property="amount" />
		<result column="totalprice" property="totalprice" />
		<result column="date" property="date" />
		<result column="cusName" property="cusName" />
		<association property="goodsDomain" resultMap="GoodsDomain" />
	</resultMap>
	
	
	<select id="tradelist" resultType="com.example.domain.tradeGoodsDomain" resultMap="tradeGoodsDomain">
		SELECT 
		dealNumber, 
		classification, 
		tg.goodsNo, 
		goodsName, 
		size, 
		goodsPrice, 
		amount, 
		totalprice, 
		goodsColor,
		brandName, 
		manufacturer, 
		date	 
		FROM goods as g 
		join tradegoods as tg
		ON g.goodsNo = tg.goodsNo;
	</select> 
	
	
	<!-- <select id="tradelist" resultType="com.example.domain.tradeGoodsDomain"> 
		select * from tradeGoods </select> -->


	<!-- 입고 처리 -->
	<insert id="input"
		parameterType="com.example.domain.tradeGoodsDomain">
		insert into
		tradeGoods(goodsNo, classification, amount,totalprice, cusName)
		values(#{goodsNo}, #{classification}, #{amount}, #{totalprice},#{cusName})
	</insert>


	<!-- 출고 처리 -->
	<insert id="output"
		parameterType="com.example.domain.tradeGoodsDomain">
		insert into
		tradeGoods(goodsNo, classification, amount,
		totalprice, cusName)
		values(#{goodsNo}, #{classification}, #{amount},
		#{totalprice}, #{cusName})
	</insert>


	<!-- 입고했던 물품 반품 처리 -->
	<insert id="backIn"
		parameterType="com.example.domain.tradeGoodsDomain">
		insert into
		tradeGoods(goodsNo, classification, amount,
		totalprice, cusName)
		values(#{goodsNo}, #{classification}, #{amount},
		#{totalprice}, #{cusName})
	</insert>


	<!-- 출고했던 물품 반품 처리 -->
	<insert id="backOut"
		parameterType="com.example.domain.tradeGoodsDomain">
		insert into
		tradeGoods(goodsNo, classification, amount,
		totalprice, cusName)
		values(#{goodsNo},
		#{classification}, #{amount},
		#{totalprice}, #{cusName})
	</insert>


	<!-- 내역 삭제 -->
	<delete id="delete">
		delete from
		tradeGoods
		where
		dealNumber=#{dealNumber}
	</delete>
	
	<!-- 검색창  -->
	<select id="" resultType="com.example.domain.tradeGoodsDomain">
		select 
		goodsNo, classification, amount, totalprice, cusName 
		from
		tradeGoods
		where
		goodsNo=#{goodsNo} 
	</select>
</mapper>